body {
  margin: 0px;
  padding: 0px;
  word-wrap: break-word;
}
.our {
  color: #ffb03b;
}
.some {
  color: #5f5950;
  font-weight: 700;
}
.nice li {
  padding: 0px 4px;
  font-family: "Poppins", sans-serif;
}
.white {
  margin-left: 28px;
}
.two {
  position: relative;
  bottom: 62px;
}
.section13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(testimonials.jpg);
  padding: 70px 0px;
  background-size: cover;
  background-position: center;
}
.text {
  color: #ffb03b;
}
.ink i {
  float: left;
  margin-right: 23px;
  margin-top: 12px;
  color: #ffb03b;
  transition: all 3s ease-in-out;
  background: #fff6e8;
}
.ink i :hover {
  background-color: yellow;
}
.another h4 {
  color: #433f39;
}
.another p {
  color: #7a7368;
}
.poss {
  color: #444444;
}
.nice li a {
  text-decoration: none;
  color: white;
}
.logo h1 {
  font-family: "Satisfy", sans-serif;
}
.logo a {
  text-decoration: none;
  color: white;
}
#book a {
  background-color: #ffb03b;
  color: white;
  padding: 6px 9px;
  border-radius: 23px;
}
#book {
  font-size: 14px;
}
.latin {
  color: #444444;
}
.tope i {
  color: white;
  /* margin-bottom: 23px; */
}
.pin {
  color: #848484;
  box-sizing: border-box;
}
.nav-item a {
  color: white;
}
.navbar-brand .link-item {
  font-size: 35px !important;
  text-decoration: none;
}
.bigger {
  background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.746)),
    url(rename.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position: cover;
}
.section1 {
  margin: opx;
}
.section15 {
  padding: 78px 0px;
}
.footer {
  background-color: #35322d;
  color: white;
  padding: 204px opx;
}
.seconds button {
  background-color: #ffb03b;
}
.space {
  float: right;
  margin-top: -44px;
}
.move i {
  margin-top: -45px;
  color: white;
}
.space a:hover {
  color: #ffb03b;
}
.move {
  position: fixed;
}
.yellow a {
  text-decoration: none;
  color: white;
  font-family: "Satisfy", sans-serif;
  font-size: 34px;
}
.cious {
  color: #ffb03b;
  font-size: 54px;
}
.time {
  margin-top: 13px;
}
.slider {
  margin-top: -13px;
}
@media screen and (max-width: 480px) {
  .special h2 {
    color: white;
    font-size: 14px;
  }
  .special span {
    font-size: 24px;
  }
  .special p {
    font-size: 12px;
  }
  /* body {
        width: 300px;
    } */
}
.special h2 {
  color: white;
  font-size: 54px;
}
.del {
  font-size: 44px;
}
.together h3 {
  color: #ffb03b;
  margin-top: 13px;
  font-size: 45px;
  font-weight: 700;
}
.table {
  background-color: #ffb03b;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  border-radius: 34px;
}
.section2 {
  padding: 173px 0px;
  background-size: cover;
  background-position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../enjoy/testimonials-bg.jpg);
}
.back {
  background-color: rgba(12, 24, 22, 0.705);
}
/* .latin {
    width: 95%;
} */
.semo {
  font-size: 16px;
  color: #848484;
}
.latin h2 {
  font-size: 40px;
  color: #5f5950;
}
.latin strong {
  font-size: 40px;
  color: #5f5950;
}
.rest {
  color: #ffb03b;
}
.section4 {
  padding: 88px 0px;
  margin: 0px;
}
.card-text {
  color: #aaaaaa;
  /* padding-left: 12px; */
}
.card {
  transition: all 1s;
}
.card:hover {
  transform: scale(1);
  background-color: #fd7e14;
  color: white;
}
.one {
  color: #ffcf88;
  font-weight: 700;
  font-size: 23px;
  /* padding-left: 12px; */
}
.card-title {
  color: #6c665c;
  /* padding-left: 12px; */
}
.card-title:hover {
  color: white;
}
.card-text:hover {
  color: white;
}
.one:hover {
  color: white;
}
.men {
  color: #ffb03b;
}

.seven li {
  /* padding: 5px 6px; */
  border: 2px solid#ffc107;
  display: inline-block;
  border-radius: 34px;
  color: black;
  cursor: pointer;
  margin: 0px 9px;
}

.active {
  background-color: #ffb03b;
}
.seven li:hover {
  background-color: #ffb03b;
}
.even {
  margin-top: 38px;
}
.price a {
  text-decoration: none;
  color: #d38209;
}
.price a:hover {
  text-decoration: none;
  color: #d38209;
}
.payment a:hover {
  text-decoration: none;
  color: #d38209;
}
.price p {
  color: #948c81;
  font-size: 15px;
  font-style: italic;
}
.payment span {
  color: black;
  font-weight: 700;
}
.check {
  color: #5f5950;
  font-weight: 700;
}
.price span {
  color: black;
  font-weight: 700;
}
.payment {
  text-decoration: none;
  color: #d38209;
}
.payment span {
  color: black;
}
.payment p {
  color: #948c81;
  font-size: 15px;
  font-style: italic;
}
.payment a {
  text-decoration: none;
  color: #d38209;
}
.modi {
  color: #ffb03b !important;
}
.plenty li {
  color: #5f5950;
  font-weight: 700;
  padding: 13px 0px;
}
.side_bar {
  border-right: 2px solid #d38209;
}
.architect p {
  color: #777777;
  font-family: "Poppins", sans-serif;
}
.parties p {
  color: white;
}
.list-unstyled li {
  padding: 6px 15px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
.architect h4 {
  color: #433f39;
  font-family: "sans-serif";
}
.section9 {
  background-image: url(spread.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 68px 0px;
}
.organize {
  font-family: sans-serif;
}
.parties h3 {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.parties span {
  color: white;
  font-weight: 700;
  font-size: 34px;
}
.your {
  color: white;
}
.bi-check-circle {
  color: yellow;
  font-size: 18px;
}
.events {
  color: #ffb03b;
}
.life {
  color: #d38209;
}
.section10 {
  background-color: white;
  margin-top: 34px;
}
.gallery-item {
  transition: all 2s;
}
.gallery-item:hover {
  transform: scale(0.9);
}
.emmanuel {
  background: url(seven.jpg);
  padding: 139px 0px;
  background-size: cover;
  background-attachment: fixed;
}
.section12 {
  opacity: 1;
}
.our {
  color: #5f5950;
  font-size: 32px;
  font-weight: 700;
}
.chef {
  color: #ffc107;
}
.second {
  font-weight: 700;
  z-index: 12px;
}
