body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-items: center;
    color: #121614;
}
h1{
    font-size: 3rem;
    text-align: center;
}
h3{
    color: #33CA7F;
    text-align: center;
}
form{
    display: grid;
    grid-gap: 1rem;
    margin: 1rem 0;
    /* width: 100%; */
}
label, input, textarea{
    font-family: inherit;
    font-size: inherit;
}
[for="title"],[for="note"]{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    grid-gap: 1rem;
    background-color:#a4b1aa;
    font-weight: bold;
}
#title{
    flex:80%;
    border: 3px solid #a4b1aa;
    color: #121614;
    outline: 2px solid #121614;
}
#note{
    flex:80%;
    border: 3px solid #a4b1aa;
    color: #121614;
    outline: 2px solid #121614;
}
[type="submit"]{
    background-color: #33CA7F;
    border: 3px solid transparent;
    font-size: 1.3rem;
    color: white;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
[type="submit"]:hover{
    outline: none;
    box-shadow: none;
    border: 3px solid #121614;
}
.note-container{
    /* margin: 2rem auto 1rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-gap: 1.5rem;
}
.note{
    /* border: 3px solid #33CA7F; */
    padding: 1.5rem;
    transition: all 250ms ease-in-out;
}
.note_title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.note_btn{
    display: flex;
    grid-template-columns: auto, auto;
    grid-gap: 1rem;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    margin-top: 0.5rem;
    color: white;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
.note_view{
    background-color: #446DF6;
}
.note_view:hover{
    border: 3px solid #121614;
}
.note_delete{
    background-color: #E01541;
}
.note_delete:hover{
    border: 3px solid #121614;
}